*.h5
*.nii.gz
*.nii
*.dcm
*.IMA
*.lprof
*.png
*.model.*
checkpoint
*.csv
*.DS_Store
*.gz
*.bak
*.
deepneuro/local
*.zip
*.tar.gz
/_build
*.hdf5
*.gif
*.ipynb

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
misc/
notebooks/
wheels/
*.egg-info/
.installed.cfg
*.egg
.git/
.cache/
.pytest_cache/